.content-logo img {
    width: 50%;
}

.content-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.content-menu {
    display: flex;
    justify-content: center;
}

.content-detail-2,
.content-detail-3,
.content-detail-4,
.content-detail-1 {
    border: 2px solid aqua;
    margin-bottom: 20px;
}

.content-detail-1 p,
.content-detail-2 p,
.content-detail-3 p,
.content-detail-4 p {
    margin-left: 10px;
}

.content-detail-2 img,
.content-detail-3 img,
.content-detail-4 img,
.content-detail-1 img {
    width: 10%;
}

.content-detail-2 span,
.content-detail-3 span,
.content-detail-4 span,
.content-detail-1 span {
    margin-right: 10px;
}


.content-detail-2 h4,
.content-detail-3 h4,
.content-detail-4 h4,
.content-detail-1 h4 {
    margin-top: 0px;
    background-color: #e0edeb;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #71b7bf;

}

.content-header {
    color: #71b7bf;
    text-align: center;
    margin-top: 10px;
}

.content-right img {
    border-radius: 50%;
}

.content-right h4 {
    margin-left: 75px;
}

.content-product-2,
.content-product-3,
.content-product-1 {
    width: 355px;
    height: 593px;
    border: 2px solid aqua;
}

.content-product-1 h4,
.content-product-2 h4,
.content-product-3 h4 {
    font-size: small;
    color: orange;
}

.content-product-2 button {
    margin-top: 20px;
}

.content-product-2 button,
.content-product-3 button,
.content-product-1 button {
    background-color: aqua;
    color: white;
    border: 0px;
    margin-left: 135px;
    border-radius: 5px;
}

.price {
    margin-top: 10px;
    margin-left: 75px;
    color: orange;
}

.footer {
    margin-top: 15px;
    background-color: #10885a;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width:572px) {
    .content-logo {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .content-menu {
        flex-direction: column;
        align-items: end;
    }


    .col-md-3 {
        width: 100%;
        /* Chiếm toàn bộ chiều rộng */
        margin-bottom: 20px;
        /* Thêm khoảng cách với phần bên phải */
    }

    .col-md-9 {
        width: 100%;
    }

    .content1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content-right h4 {
        margin-right: 80px;
    }

    .content-menu ul li {
        display: flex;
        margin: 5px 10px;

    }

    .col-md-4 {
        width: 100%;
    }

    .content-product {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }

    .content-product-2 button,
    .content-product-3 button,
    .content-product-1 button {
        background-color: aqua;
        color: white;
        border: 0px;
        margin-left: 5px;
        border-radius: 5px;
    }

    .content-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }

    .content-detail h4{
        margin-right: 70px;
    }

    .footer {
        font-size: 12px;
        padding: 5px;
    }
}